:root {
  --ffe-neutral-bg: #ddd;
  --ffe-neutral-content: #111;
  --ffe-headings-font-family: monospace;
  --ffe-font-family-base: sans-serif;
  --ffe-primary: blue;
  --ffe-primary-content: #fff;
}

body {
  background: var(--ffe-neutral-bg);
  color: var(--ffe-neutral-content);
  font-family: var(--ffe-font-family-base);
  padding: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.test-section {
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
